<section class="mt-4 bg-light rounded p-4">
  <h1 class="text-capitalize">register now</h1>
  <form action="" [formGroup]="registerForm" (ngSubmit)="handelform()">
    <div class="mt-3">
      <label for="name">name :</label>
      <input
        #inputName
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('name')?.errors &&
        (registerForm.get('name')?.touched || inputName.value.length > 0)
      "
    >
      <p *ngIf="registerForm.get('name')?.getError('required')">
        please enter your name
      </p>
      <p *ngIf="registerForm.get('name')?.getError('minlength')">
        must be at least 3 chars
      </p>
      <p *ngIf="registerForm.get('name')?.getError('maxlength')">
        must be at largest 20 chars
      </p>
    </div>

    <div class="mt-3">
      <label for="email">email :</label>
      <input
        #inputEmail
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('email')?.errors &&
        (registerForm.get('email')?.touched || inputEmail.value.length > 0)
      "
    >
      <p *ngIf="registerForm.get('email')?.getError('required')">
        please enter your email
      </p>
      <p *ngIf="registerForm.get('email')?.getError('email')">
        must be at role in your email
      </p>
    </div>
    <div class="mt-3">
      <label for="password">password :</label>
      <input
        #inputPassword
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('password')?.errors &&
        (registerForm.get('password')?.touched ||
          inputPassword.value.length > 0)
      "
    >
      <p *ngIf="registerForm.get('password')?.getError('pattern')">
        Password confirmation is incorrect"
      </p>
      <p *ngIf="registerForm.get('password')?.getError('required')">
        Password required
      </p>
    </div>
    <div class="mt-3">
      <label for="repassword">rePassword :</label>
      <input
        #inputRepassword
        type="password"
        id="repassword"
        class="form-control"
        formControlName="rePassword"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('rePassword')?.errors &&
        registerForm.get('rePassword')?.touched
      "
    >
      <p *ngIf="registerForm.get('rePassword')?.getError('required')">
        Password requird"
      </p>
      <p *ngIf="registerForm.get('rePassword')?.getError('misMatch')">
        Password confirmation is incorrect"
      </p>
    </div>
    <div class="my-3">
      <label for="phone">phone :</label>
      <input
        #inputPhone
        type="tel"
        id="phone"
        class="form-control"
        formControlName="phone"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('phone')?.errors &&
        (registerForm.get('phone')?.touched || inputPhone.value.length > 0)
      "
    >
      <p *ngIf="registerForm.get('phone')?.getError('pattern')">
        "accept only egypt phone numbers"
      </p>
    </div>
    <button class="btn-main ms-auto d-block text-capitalize">
      register <span *ngIf="isLoding"><i class="fa-solid fa-spinner"></i></span>
    </button>

    <p class="alert alert-danger" *ngIf="errMsdg">{{ errMsdg }}</p>
  </form>
</section>
