<footer class="bg-main-light mt-4 w-100 h-100">
  <div class="container">
    <div class="text-capitalize pt-4">
      <h3>get the fresh cart app</h3>
      <p>
        wee will send you a link , open it on your phone to download the app
      </p>
      <div class="input d-flex justify-content-evenly">
        <input
          class="form-control w-75"
          type="email"
          placeholder="Email"
          name=""
          id=""
        />
        <button class="btn-main">share app link</button>
      </div>
      <hr />
      <div class="photos d-flex justify-content-between">
        <div class="groub d-flex justify-content-evenly align-items-center">
          <p>payment partners</p>
          <img src="./assets/images/master.svg" alt="" class="w-25" />
          <img src="./assets/images/visa-1.svg" alt="" class="w-25" />
          <img src="./assets/images/visa.svg" alt="" class="w-25" />
        </div>
        <div class="groub d-flex justify-content-evenly align-items-center">
          <p>get deliveries with freshcart</p>
          <img src="./assets/images/app-store.svg" alt="" class="w-25" />
          <img src="./assets/images/google-store.svg" alt="" class="w-25" />
        </div>
      </div>
      <hr />
    </div>
  </div>
</footer>
