<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home"
      ><img src="./assets/images/freshcart-logo.svg" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLink="home"
            routerLinkActive="bg-main"
            >home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize position-relative"
            routerLink="cart"
            routerLinkActive="bg-main"
            >cart
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLink="products"
            routerLinkActive="bg-main"
            >products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLink="categories"
            routerLinkActive="bg-main"
            >categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLink="brands"
            routerLinkActive="bg-main"
            >brands</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa-brands fa-tiktok"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa-brands fa-linkedin"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa-brands fa-youtube"></i> </a>
        </li>
        <li class="nav-item">
          <span
            (click)="siginOut()"
            class="nav-link cursor-pointer text-capitalize"
            >signout</span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
